<div class="main d-flex p-0 m-0">
    <div class="row d-flex col-12 m-0">
        <!-- top bar -->
        <app-top-bar pageTitle="Transactions"></app-top-bar>
        <!-- <left column> -->
        <div class="left-box col-2 p-0">
            <app-side-nav activePage="Transactions" activeIcon="/assets/history_icon_blue.png"></app-side-nav>
        </div>

        <!-- <right column> -->
        <div class="right-box col-10 col-md-10">
            <div class="rb-body col-12 col-md-12 p-3">

                <table class="transaction-table">
                    <thead>
                        <tr class="table-headers">
                            <th>Coin</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows -->
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="coin-info">
                                    <img src="/assets/bitcoin.png" alt="Bitcoin" class="coin-icon">
                                    <div class="coin-text">
                                        <span class="coin-abbr">BTC</span>
                                        <span class="coin-name">Bitcoin</span>
                                    </div>
                                </div>
                            </td>
                            <td>14:30</td>
                            <td>2024-07-23</td>
                            <td>Buy</td>
                            <td>0.5 BTC</td>
                            <td>$15,000</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>