<div class="main">
    <div class="row box-area">
        <!-- <left column> -->
        <div class="col-md-6 d-flex flex-column d-custom-none left-box">
                <div class="website_link">
                    <p>crypttransact.com</p>
                    <img src="assets/external_link_alt.svg" alt="external_link_alt" class="external_link_alt">
                </div>
                <div class="left_column_content">
                    <p class="lcc_title">Send and Recieve Crypto</p>
                    <p class="lcc_text">Unlock the future of finance with Crypttransact - where sending and receiving crypto  becomes a breeze on the web, making every transaction a revolution!</p>
                    <img src="/assets/carousel_indicator.png" alt="carousel_indicator">
                </div>
        </div>
        <!-- <right column> -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center mb-4">
                <div class="header_sub d-flex flex-column align-items-center">
                    <h1 class="header-text mb-4">Sign In</h1>
                    <p>Provide your credentials or use your accounts to sign in.</p>
                </div>
               
                <!-- Alternate sign-in options -->
                <button type="button" class="google_btn">
                    <img src="assets/google 1.svg" alt="">
                    Continue with Google
                </button>
                <button type="button" class="google_btn">
                    <img src="assets/apple 1.svg" alt="">
                    Continue with Apple
                </button>
                <div class="divider">or</div>
                <!-- Email and password fields -->
                <div class="input-group mb-3">
                    <div class="input_field">
                        <label>Email</label>
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Enter your email">
                    </div>
                    <div class="input_field">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Enter your password">
                    </div>
                </div>
                <!-- Remember me and Forgot password -->
                <div class="input-group mb-5 justify-content-between">
                    <div class="form-check">
                        <label>Remember me</label>
                        <input type="checkbox" class="form-check-input" id="formCheck">
                    </div>
                    <div class="forgot_pass">
                        <a href="/forgot_password.html">Forgot Password?</a>
                    </div>
                </div>
                <!-- Login button -->
                <a href="/dashboard.html"><button class="primary_button">Log in</button></a>
                <!-- The text at the bottom -->
                <div class="bottom-text d-flex justify-content-center">
                    <p>Don't have and account? <a href="/Signup.html">Sign up</a></p>
                </div>
                
            </div>
        </div>
    </div>
</div>
