<div class="main">
    <div class="row box-area">
        <!-- <left column> -->
        <div class="left-box-container col-md-6 d-flex d-custom-none">
            <app-auth-carousel></app-auth-carousel>
        </div>

        <!-- <right column> -->
        <div class="col-md-6 right-box d-flex align-items-center">
            <div class="row align-items-center justify-content-center">
                <div class="header_sub d-flex flex-column align-items-center">
                    <h1 class="header-text mb-4">Email Verification</h1>
                    <p>Enter the verification code sent to your email to continue.</p>
                </div>

                <!-- Email and password fields -->
                <div class="input-group mb-3 col-12 d-flex flex-column">
                    <app-email-text-field label="Verification code" placeholder="xxx-xxx"></app-email-text-field>
                </div>
                <!-- Primary button -->
                <app-primary-button link="/login/dashboard" text="Continue"></app-primary-button>
                <!-- The text at the bottom -->

            </div>
        </div>
    </div>
</div>