<div class="main col-12 col-sm-12 col-md-12 p-3  justify-content-center">
    <p class="card-header mb-4">Wallet</p>
    <div class="wallet-addresses mb-5">
        <p class="wallet-addresses-header">Wallet addresses</p>
        <div class="icons-and-see-all d-flex justify-content-between align-items-center">
            <div class="address-images d-flex">
                <img src="/assets/bitcoin_small.png" alt="bitcoin icon" class="coin-icon-small-1">
                <img src="/assets/ethereum_small.png" alt="ethereum icon" class="coin-icon-small">
                <img src="/assets/litecoin_small.png" alt="litecoin icon" class="coin-icon-small">
                <img src="/assets/xrp_small.png" alt="xrp icon" class="coin-icon-small">
                <img src="/assets/bnb_small.png" alt="bnb icon" class="coin-icon-small">
                <img src="/assets/solana_small.png" alt="solana icon" class="coin-icon-small">
            </div>
            <div class="see-all-container d-flex">
                <p class="see-all mb-0">See all</p>
                <img src="/assets/arrow_forward.svg">
            </div>
        </div>
    </div>
    <div class="divider-horiz mb-5"></div>
    <div class="wallet-balance">
        <p class="card-header mb-3">125 Games Wallet Balance: <span class="card-header2">$14,193</span></p>
        <div class="buttons d-flex">
            <div class="deposit-button-container">
                <app-button-outline-orange text="Deposit"></app-button-outline-orange>
            </div>
            <div class="deposit-button-container  mx-4">
                <app-button-outline-blue text="Withdraw"></app-button-outline-blue>
            </div>
        </div>
    </div>
</div>