.text-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .styled-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .styled-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .styled-input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  