.text-input-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .styled-label {
    font-size: 14px;
  }
  
  .styled-input {
    height: 60px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 100%;
  }
  
  .styled-input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  