<div class="main col-12 col-sm-12 col-md-12 justify-content-center">
    <div class="profile-pic-and-info mb-5 d-flex align-items-center">
        <img src="/assets/profile_large.png" alt="Profile image" class="profile-pic mr-3">
        <div class="profle-info-text">
            <p class="profile-name mb-2">Michael Austin Lorem Ipsum</p>
            <p class="">User ID: 123234394</p>
        </div>
    </div>

    <p class="display-name mb-3">Display name: <span class="display-name2">Michael A.</span></p> 
    <p class="display-name mb-5">Email: <span class="display-name2">maustinmail.com</span></p> 

    <div class="secondary-button-container">
        <app-secondary-button-with-icon text="Edit profile information" imageUrl="./assets/edit_profile_icon.png"></app-secondary-button-with-icon>
    </div>
</div>