<div class="main align-items-center">
    <div class="row box-area">
        <!-- <left column> -->
        <div class="left-box-container col-md-6 d-flex d-custom-none">
            <app-auth-carousel></app-auth-carousel>
        </div>

        <!-- <right column> -->
        <div class="col-md-6 right-box d-flex align-items-center">
            <div class="row align-items-center">
                <div class="header_sub d-flex flex-column align-items-center">
                    <h1 class="header-text mb-4">Forgot passoword?</h1>
                    <p>Provide your email. A verification code will be sent to you.. </p>
                </div>

                <!-- Email and password fields -->
                <div class="input-group mb-3 col-12 d-flex flex-column">
                    <app-email-text-field label="Email" placeholder="Enter your email" name="email"
                        value="email"></app-email-text-field>
                </div>
                <!-- Primary button -->
                <app-primary-button link="/email-verification" text="Continue"></app-primary-button>
                <!-- The text at the bottom -->

            </div>
        </div>
    </div>
</div>