/* <left side> */
.main{
    height: 100vh;
    overflow: hidden;
}

/* <right side> */

.right-box{
    height: 100vh;
    padding: 0;
    /* margin-top: 72px; */
    /* margin-bottom: 120px; */
    overflow-y: auto;
    top: 0;
}



.rb-body{
    margin-top: 120px;
    margin-bottom: 120px;
    /* overflow-y: auto; */
    /* border: 1px solid red; */
}

.row1{
    height: 382px;
    /* border: 1px solid blue; */
}

.profile-information-container{
    height: 100%;
    width: 49%;
}

.profile-wallet-card-container{
    height: 100%;
    width: 49%;
}

.row2{
    height: 428px;
}

.game-ad-container{
    height: 100%;
    width: 49%;
}

.app-markets-summary-card-container{
    height: 100%;
    width: 49%;
}

