<div class="main">
    <div class="row box-area">
        <!-- <left column> -->
        <div class="left-box-container col-md-6 d-flex d-custom-none">
            <app-auth-carousel></app-auth-carousel>
        </div>

        <!-- <right column> -->
        <div class="col-md-6 right-box d-flex align-items-center">
            <div class="row align-items-center justify-content-center">
                <div class="header_sub d-flex flex-column align-items-center">
                    <h1 class="header-text mb-4">Reset Password</h1>
                    <p>Create a new password to log in to your account.</p>
                </div>

                <!-- Email and password fields -->
                <div class="input-group mb-3 col-12 d-flex flex-column">
                    <app-password-field class="mb-3" label="New password" placeholder="Enter your new password"></app-password-field>
                    <app-password-field class="mb-3" label="Confirm new password" placeholder="Re-enter your new password to confirm"></app-password-field>

                </div>
                <!-- Primary button -->
                <app-primary-button link="" text="Continue"></app-primary-button>
                <!-- The text at the bottom -->

            </div>
        </div>
    </div>
</div>