<div class="main col-12 col-sm-12 col-md-12 p-3  justify-content-center">
        <p class="card-header mb-2">Account Verification</p>
    <p class="card-explanation mb-3">Complete your identity verification to get access to all Ergavault services.</p>
    <div class="illustration-container col-12 col-xs-12 col-md-12 mb-4 d-flex justify-content-center">
        <img src="/assets/account_verification_illustration.png" alt="Account Verification Illustration" class="mb-3">
    </div>
    <app-primary-button text="Complete Verification" ></app-primary-button>
</div>