<div class="password-input-container">
  <label *ngIf="label" [for]="name" class="styled-label">{{ label }}</label>
  <div class="input-group d-flex align-items-center col-12">
    <div class="input-field w-100 d-flex">
      <input class="styled-input form-control" [type]="showPassword ? 'text' : 'password'"
        [value]="internalValue" [name]="name" [placeholder]="placeholder" [disabled]="disabled"
        [(ngModel)]="internalValue" (ngModelChange)="onModelChange($event)" />
      <div class="visibility-btn d-flex align-items-center justify-content-center">
        <button type="button" class="btn" (click)="toggleVisibility()">
          <i class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
        </button>
      </div>
    </div>
  </div>
</div>

