.input-group {
    border: 1px solid #ccc;
    border-radius: 12px;
    
}

.styled-input {
    height: 60px;
    border-radius: 12px;
    
    border: none;
}

.visibility-btn {
    position: absolute;
    height: 60px;
    right: 20px;
}