<div class="password-input-container">
    <label *ngIf="label" [for]="name" class="styled-label">{{ label }}</label>
    <div class="input-group">
      <input class="styled-input form-control mb-3"
             [type]="showPassword ? 'text' : 'password'"
             [value]="internalValue"
             [name]="name"
             [placeholder]="placeholder"
             [disabled]="disabled"
             [(ngModel)]="internalValue"
             (ngModelChange)="onModelChange($event)"
      />
      <div class="input-group-append">
        <span class="input-group-text">
          <button type="button" class="btn btn-outline-secondary" (click)="toggleVisibility()">
            <i class="bi bi-eye{{ showPassword ? '-slash' : '' }}"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  