<div class="main d-flex p-0 m-0">
    <div class="row d-flex col-12 m-0">
        <!-- top bar -->
        <div
            class="top-bar col-12 col-md-12 col-lg-12 w-100 px-3 d-flex align-items-center justify-content-end">
            <div class="top-bar-items col-10   px-3 d-flex align-items-center justify-content-between">
                <h1 class="page-header mb-0">Home</h1>
                <div class="tb-right-side d-flex align-items-center">
                    <img src="/assets/dice_orange.svg" class="dice_orange mx-3">
                    <div class="tb-rs-breaker"></div>
                    <button class="send-button mx-3 px-4 py-2">Send</button>
                    <button class="recieve-button px-4 py-2">Recieve</button>
                    <div class="tb-rs-breaker mx-3"></div>
                    <img src="/assets/search.svg">
                    <img src="/assets/notification.svg" class="mx-3">
                    <img src="/assets/top profile image.png">
                </div>
            </div>

        </div>
        <!-- <left column> -->
        <div class="left-box col-2 px-3 py-3">
            <div class="logo mx-auto">
                <!-- <img src="/assets/logo.png" alt="ErgaCrypto Logo"> -->
            </div>
            <!-- Side nav items -->
            <ul class="nav nav-pills flex-column mt-5">
                <li class="nav-item mb-3">
                    <a href="#" class="nav-link d-flex align-items-center" id="active">
                        <img src="/assets/Home_icon_blue.svg" class="nav_item_icon mr-2"><span
                            class="active-text">Home</span>
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/wallet_icon.svg" class="nav_item_icon"><span>Wallets</span>
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/Website_icon.svg" class="nav_item_icon"><span>Markets</span>
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/explore_icon.svg" class="nav_item_icon"><span>Explore</span>
                    </a>
                </li>
                <div class="side-nav-br mb-3"></div>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/Profile_icon.svg" class="nav_item_icon"><span>Profile</span>
                    </a>
                </li>
                <li class="nav-item mb-3">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/history_icon.svg" class="nav_item_icon"><span>Transactions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <img src="/assets/setting-icon.svg" class="nav_item_icon"><span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- <right column> -->
        <div class="right-box col-10 col-md-10">
            <div class="rb-body col-12 col-md-12">
                <div class="row1 mx-4 mt-5 d-flex justify-content-between">
                    <div class="portfilio-value-container">
                        <app-portfolio-value-card></app-portfolio-value-card>
                    </div>
                    <div class="coins-distribution-summary-container">
                        <app-coins-distribution-summary-card></app-coins-distribution-summary-card>
                    </div>
                </div>

                <div class="row2 mx-4 mt-5 d-flex justify-content-between">
                    <div class="account-verification-card-container">
                        <app-account-verification-card></app-account-verification-card>
                    </div>
                    <div class="app-coins-summary-card-container">
                        <app-coins-summary-card></app-coins-summary-card>
                    </div>
                    <div class="app-markets-summary-card-container">
                        <app-markets-summary-card></app-markets-summary-card>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>