/* <left side> */
.main{
    height: 100vh;
    overflow: hidden;
}

/* <right side> */

.right-box{
    height: 100vh;
    padding: 0;
    /* margin-top: 72px; */
    /* margin-bottom: 120px; */
    overflow-y: auto;
    top: 0;
}



.rb-body{
    margin-top: 120px;
    margin-bottom: 120px;
    /* overflow-y: auto; */
    /* border: 1px solid red; */
}

.row1{
    /* border: 1px solid blue; */
    height: 320px;
}

.portfilio-value-container{
    height: 100%;
    width:50%;
    /* border: 1px solid black; */
}

.coins-distribution-summary-container{
    height: 100%;
    width:48%;
    /* border: 1px solid blue; */
}

.row2{
    height: 428px;
}

.account-verification-card-container{
    height: 100%;
    width: 32%;
}

.app-coins-summary-card-container{
    height: 100%;
    width: 32%;
}

.app-markets-summary-card-container{
    height: 100%;
    width: 32%;
}


