<div class="main d-flex p-0 m-0">
    <div class="row d-flex col-12 m-0">
        <!-- top bar -->
        <app-top-bar></app-top-bar>
        <!-- <left column> -->
        <app-send-menu></app-send-menu>
        <div class="left-box col-2 p-0">
           <app-side-nav activePage="Home" activeIcon="/assets/Home_icon_blue.svg"></app-side-nav>
        </div>

        <!-- <right column> -->
        <div class="right-box col-10 col-md-10">
            <div class="rb-body col-12 col-md-12">
                <div class="row1 mx-4 mt-5 d-flex justify-content-between">
                    <div class="portfilio-value-container">
                        <app-portfolio-value-card></app-portfolio-value-card>
                    </div>
                    <div class="coins-distribution-summary-container">
                        <app-coins-distribution-summary-card></app-coins-distribution-summary-card>
                    </div>
                </div>

                <div class="row2 mx-4 mt-5 d-flex justify-content-between">
                    <div class="account-verification-card-container">
                        <app-account-verification-card></app-account-verification-card>
                    </div>
                    <div class="app-coins-summary-card-container">
                        <app-coins-summary-card></app-coins-summary-card>
                    </div>
                    <div class="app-markets-summary-card-container">
                        <app-markets-summary-card></app-markets-summary-card>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>