<div class="main col-12 col-sm-12 col-md-12 p-3  justify-content-center">
    <p class="card-header mb-2">Earn more with 125 Games</p>
<p class="card-explanation mb-3">Download the Crypttransact mobile app on Android and IOS and get access to 125 Games. Play fun games and win crypto rewards.</p>
<div class="illustration-container col-12 col-xs-12 col-md-12 mb-4 d-flex justify-content-center">
    <img src="/assets/dice 2.png" alt="Account Verification Illustration" class="mb-3">
</div>
<app-primary-button-with-icon text="Play now" imageUrl="./assets/dice 2 small.png"></app-primary-button-with-icon>
</div>