<div class="main col-12 col-sm-12 col-md-12 p-3">
    <div class="title-row mb-3 d-flex justify-content-between align-items-center">
        <p class="card-header">Coins Summary</p>
        <div class="see-all-container d-flex align-items-center">
            <p class="see-all mb-0">See all</p>
            <img src="/assets/arrow_forward.svg">
        </div>
    </div>
    <div class="card-content">
        <app-coin-summary-card-item imageSrc="/assets/bitcoin.png" coinAbbreviation="BTC" coinName="Bitcoin"
            [coinAmount]="0.001245" [coinValueUSD]="204.43" [coinPrice]="41628">
            ></app-coin-summary-card-item>
        <div class="divider_horiz mb-4"></div>
        <app-coin-summary-card-item imageSrc="/assets/ethereum.png" coinAbbreviation="ETH" coinName="Ethereum"
            [coinAmount]="0.000212" [coinValueUSD]="509.53" [coinPrice]="2467">
            ></app-coin-summary-card-item>
        <div class="divider_horiz mb-4"></div>
        <app-coin-summary-card-item imageSrc="/assets/solana.png" coinAbbreviation="SOL" coinName="Solana"
            [coinAmount]="4.917" [coinValueUSD]="497.45" [coinPrice]="93.36">
            ></app-coin-summary-card-item>
        <div class="divider_horiz mb-4"></div>
        <app-coin-summary-card-item imageSrc="/assets/bnb.png" coinAbbreviation="BNB" coinName="BNB"
            [coinAmount]="2.3425" [coinValueUSD]="642.12" [coinPrice]="314.68">
            ></app-coin-summary-card-item>

    </div>


</div>