<div class="main">
    <div class="row box-area">
        <!-- <left column> -->
        <div class="left-box-container col-md-6 d-flex d-custom-none">
            <app-auth-carousel></app-auth-carousel>
        </div>

        <!-- <right column> -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header_sub d-flex flex-column align-items-center">
                    <h1 class="header-text mb-4">Sign up</h1>
                    <p>Welcome to CryptTransact! Create an account to get started.</p>
                </div>

                <!-- Alternate sign-in options -->
                <button type="button" class="google_btn">
                    <img src="assets/google 1.svg" alt="">
                    Continue with Google
                </button>
                <button type="button" class="google_btn">
                    <img src="assets/apple 1.svg" alt="">
                    Continue with Apple
                </button>
                <div class="divider">or</div>
                <!-- Email and password fields -->
                <div class="input-group mb-3 col-12 d-flex flex-column">
                    <div class="name-fields d-flex">
                        <app-text-field class="first-name-field" label="First name" placeholder="Enter your first name" name="firstname"
                        value="email"></app-text-field>
                        <app-text-field label="Last name" placeholder="Enter your last name" name="lastname"
                        value="email"></app-text-field>
                    </div>
                    <app-email-text-field label="Email" placeholder="Enter your email" name="email"
                        value="email"></app-email-text-field>
                    <app-password-field label="Password" placeholder="Enter your password"></app-password-field>

                </div>
                
                <!-- Sign up button -->
                <app-primary-button link="/sign-up/emailverification-newuser" text="Continue"></app-primary-button>
                <!-- The text at the bottom -->
                <div class="bottom-text d-flex justify-content-center mb-3">
                    <p>Already have an account? <a [routerLink]='[""]'>Sign in</a></p>
                </div>

                <div class="bottom-text d-flex justify-content-center">
                    <p class="TsCs">By signing up, you are confirming that you have read, and agree with all our <a [routerLink]='[""]'>Terms and Conditions.</a></p>
                </div>

            </div>
        </div>
    </div>
</div>