<div class="main col-12 col-sm-12 col-md-12 p-3  justify-content-center">
    <div class="header-container mb-4 d-flex justify-content-between align-items-center">
        <p class="card-header mb-0">Account Verification</p>
        <div class="add-account d-flex justify-content-center align-items-center">
            <p class="add-account-text mb-0">Add a payout account</p>
            <img src="/assets/card-add.png" alt="Account Verification Illustration" class="">
        </div>
    </div>

    <app-account-card [imageSrc]="'/assets/mastercard_image.png'" [topText]="'Mastercard ending in 5323'"
        [bottomText]="'Expiry: 05/24'"></app-account-card>
    <app-account-card [imageSrc]="'/assets/mastercard_image.png'" [topText]="'Mastercard ending in 5323'"
        [bottomText]="'Expiry: 05/24'"></app-account-card>
    <app-account-card [imageSrc]="'/assets/mastercard_image.png'" [topText]="'Mastercard ending in 5323'"
        [bottomText]="'Expiry: 05/24'"></app-account-card>
</div>