<div class="left-box ">
    <div class="website_link">
        <p>crypttransact.com</p>
        <img src="assets/external_link_alt.svg" alt="external_link_alt" class="external_link_alt">
    </div>
    <div class="left_column_content">
        <p class="lcc_title">Send and Recieve Crypto</p>
        <p class="lcc_text">Unlock the future of finance with Crypttransact - where sending and receiving crypto  becomes a breeze on the web, making every transaction a revolution!</p>
        <img src="/assets/carousel_indicator.png" alt="carousel_indicator">
    </div>
</div>